<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Back</title>
    <link rel="shortcut icon"
        href="https://ik.imagekit.io/7de5cntkw/1692626704665-photoaidcom-cropped%20(1).jpeg?updatedAt=1738048156918"
        type="image/x-icon">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
            color: #333;
        }

        .container {
            text-align: center;
        }

        .go-back-btn {
            display: inline-block;
            padding: 12px 24px;
            font-size: 16px;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        .go-back-btn:hover {
            background-color: #0056b3;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 16px;
        }

        p {
            font-size: 16px;
            margin-bottom: 20px;
            color: #666;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1></h1>
        <p>Student Details Update successfully</p>
        <a href="javascript:history.back()" class="go-back-btn">Go Back</a>
    </div>
</body>

</html>