<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <form action="" method="post">
        <input type="text" name="username" id="" placeholder="enter you  name ">
        <input type="text" name="useremail" id="" placeholder="enter you  mail ">
        <input type="text" name="userclass" id="" placeholder="enter you  class ">
        <button>Submit</button>
    </form>
</body>
</html>